// fonts

$reenie:'Reenie Beanie', cursive;
$caveat:'Caveat Brush', cursive;
$nothing:'Nothing You Could Do', cursive;
$amatic:'Amatic SC', cursive;
$shadows:'Shadows Into Light', cursive;
$ruge:'Ruge Boogie', cursive;